Package: dev.adrian.dearrow
Name: DeArrow
Version: 1.0.0
Architecture: iphoneos-arm
Description: Bring DeArrow titles and thumbnails to YouTube for iOS
Maintainer: Adrian Castro
Author: Adrian Castro
Icon: https://repo.adriancastro.dev/assets/dearrow.svg
Section: Tweaks
Depends: ellekit
Replaces: com.pixelomer.dearrow-ios
Conflicts: com.pixelomer.dearrow-ios
Depiction: https://repo.adriancastro.dev/depictions/web/?p=dev.adrian.dearrow
SileoDepiction: https://repo.adriancastro.dev/depictions/native/dev.adrian.dearrow/depiction.json
