<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<dict>
<key>id</key>
<string>4hfzKaa6fSk</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Cop goes crazy over person driving Power Wheels</string>
<key>thumbnail</key>
<true/>
</dict>
<dict>
<key>id</key>
<string>QCWjBgHlDx8</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Reacting to bodycam footage</string>
<key>thumbnail</key>
<true/>
</dict>
<dict>
<key>id</key>
<string>WzH1zktGTOY</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Penguinz0 police bodycam reactions compilation</string>
<key>thumbnail</key>
<true/>
</dict>
<dict>
<key>id</key>
<string>jNQXAC9IVRw</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Visiting the San Diego Zoo, talking about elephants</string>
<key>thumbnail</key>
<true/>
</dict>
<dict>
<key>id</key>
<string>pzBi1nwDn8U</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Survive 100 days trapped in a private jet, keep it</string>
<key>thumbnail</key>
<true/>
</dict>
<dict>
<key>id</key>
<string>pi-IO4laax4</string>
<key>surface</key>
<string>long-form</string>
<key>title</key>
<string>Reacting to multiple police bodycam footage</string>
<key>thumbnail</key>
<false/>
</dict>
</array>
</plist>
